body {
    background: black;
}

h1 {
    background-color: white;
    padding:25px;
    text-align: center;
    color: red;
    font-size:50px
}

h2 {
    text-decoration: underline;
    background-color: black;
    color:red;
}
ul{
    font-size:25px;
}
#imageContainer {
    display: none;
max-width: min-content;
}

#aboutMeList {
    background-color:black;
    color:white;
    
}

#hobbies {
    background-color: black;
    color:white;
}

#interests {
    background-color: black;
    color: white;
}
/* color: colorValue; to change font color*/
#careerGoals {
    background-color: black;
    color: white;
}

/*#victus { */
   /* transform: translate(-250px, -250px);*/ /* the transform: translate move the picture x,y */
/* width: 400px;
    height: auto;
    float: right;*/
    /* float makes things line up horizontal  width resizes picture and height:auto perserves aspect ratio*/
/* } */

#cancun {
    transform: translate(-500px, -215px);
    width: 600px;
    height:225px;
    float: right;
}

#penTest {
    width:800px;
    height: 200px;
}

#banner {
    width:100%;
    height: 200px;
    text-align: center;
    transform: translate(-100px, 100px);
   
}