body {
    background: black;
}

h1 {
     background-color: white;
    width:100%;
    padding:25px;
    text-align: center;
    color: red;
    font-size:50px;
    font-family: Impact, fantasy;
    
}

h2 {
    text-decoration: underline;
    background-color: black;
    color:red;
    
}
ul{
    font-size:25px;
}
#imageContainer {
    display: none;
max-width: min-content;
}

#aboutMeList {
    background-color:black;
    color:white;
    
}

#hobbies {
    background-color: black;
    color:white;
    
    
}

#interests {
    background-color: black;
    color: white;
}
/* color: colorValue; to change font color*/
#careerGoals {
    background-color: black;
    color: white;
}

/*#victus { */
   /* transform: translate(-250px, -250px);*/ /* the transform: translate move the picture x,y */
/* width: 400px;
    height: auto;
    float: right;*/
    /* float makes things line up horizontal  width resizes picture and height:auto perserves aspect ratio*/
/* } */

#cancun {
    transform: translate(-500px, -215px);
    width: 600px;
    height:225px;
    float: right;
}

#penTest {
    width:800px;
    height: 200px;
    transform: translate(-40px,10px);
    /* finish resizing and placement on site*/
}

#porkChop {
    float:left;
    width:100px;
    height:auto;
    transform: translate(1000px,-25px);
}

#porkChopTwo {
    float:left;
    width:100px;
    height:auto;
    transform: translate(400px,-25px);
}

#qs {
   
    margin-left: 100px;
    margin-top: 100px;
    padding: 100px;
}